<footer class="site-footer">
  <div class="footer-content">
    <div class="footer-name">{{ site.title }}</div>
    <div class="footer-email">{{ site.contact_email }}</div>
    <div class="footer-social">
      <span onclick="window.open('{{ site.twitter }}')" style="cursor: pointer">
        <i class="fa-brands fa-twitter"></i>
      </span>
      <span onclick="window.open('{{ site.linkedin }}')" style="cursor: pointer">
        <i class="fa-brands fa-linkedin"></i>
      </span>
      <span onclick="window.open('{{ site.github }}')" style="cursor: pointer">
        <i class="fa-brands fa-github"></i>
      </span>
    </div>
  </div>
</footer>